@charset "UTF-8";
/* CSS by Cafeína Team */

@media (min-width: 375px) {
	.video iframe {
	width: 300px;
	height: 150px;
	}
	
	.sealanes {
		width: 300px;
		height: 133px;
	}
	
	.oceanvista{
		width: 300px;
		height: 169px;
	}
	
	.imageteam{
		width: 300px;
		height: 205px;
	}
}


@media (min-width: 576px) {
	.video iframe {
	width: 560px;
	height: 315px;
	}
	
	.sealanes {
		width: 560px;
		height: 248px;
	}
	
	.oceanvista{
		width: 560px;
		height: 315px;
	}
	
	.imageteam{
		width: 560px;
		height: 383px;
	}
	
}

@media (min-width: 768px) {
  .video iframe {
	width: 640px;
	height: 360px;
	}
	
	.sealanes {
	width: 640px;
	height: 284px;
	}
	
	.oceanvista{
	width: 640px;
	height: 360px;
	} 

	.imageteam{
		width: 640px;
		height: 438px;
	}
	
	.col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
	
}

@media (min-width: 992px) {
  .video iframe {
	width: 720px;
	height: 405px;
	}
	
	.sealanes {
	width: 720px;
	height: 319px;
	}
	
	.oceanvista{
	width: 720px;
	height: 405px;
	} 

	.imageteam{
		width: 720px;
		height: 493px;
	}
	
}

@media (min-width: 1200px) {
  .video iframe {
	width: 854px;
	height: 480px;
	}
	
	.sealanes {
	width: 854px;
	height: 379px;
	}

	.oceanvista{
	width: 854px;
	height: 480px;
	} 

	.imageteam{
		width: 840px;
		height: 575px;
	}
	
}



.bobytext {
	text-align: left;
}

p.bobytext {
	text-align: left;
}

.winner {
	display: block;
}

.winneriten {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.hardware {
	padding: 10px;
}

h3.hardware img {
	height: 93px;
	width: 60px;
	align-items: center;
	justify-content: center;
	margin-left: 10px;

}

h3.hardware span {
	margin-left: 10px;
	font-size: 0.75em;
}

h3.hardware p {
	margin-left: 10px;
	font-size: 0.75em;
}

h3 img.hardwareicon {
	background-color: #3979c5;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
	margin-bottom: 10px;
}

.sealanes{
	margin-bottom: 20px;
}

.refences {
	text-align: left;
	font-size: 0.9rem;
}



h4.referencestitle {
	font-size: 1.2rem;
}

.team h5 {
	font-size: 1.2rem;
}

.team p {
	display: block;
	height: 100px;
	font-size: 0.9rem;
	overflow:scroll;
}

.navbar {
	position: fixed;
	top: 0;
	background: #343a40 ;
	width: 100%;
	z-index: 100;
}

.navbar ul li a {
	text-decoration: none;
}


h1.logo {
	background-image:url("../images/logo_cafeina.svg");
	background-repeat: no-repeat;
	display: block;
	height: 70px;
	width: 70px;
	text-indent: -5000px;
	margin: 0;
	padding: 0;
}

.home_boton a {
	background:url("../images_site/topo.png") no-repeat;
	width:40px;
	height:40px;
	display:block;
	text-indent:-99999px;
	position:fixed;
	right:30px;
	bottom:30px;
	}

.instagram {
	background-image:url("../images/instagram.svg");
	background-repeat: no-repeat;
	display: block;
	width: 60px;
	height: 60px;
	text-indent: -5000px;
}

.youtube {
	background-image:url("../images/youtube.svg");
	background-repeat: no-repeat;
	display: block;
	width: 60px;
	height: 60px;
	text-indent: -5000px;
}

#bg_team {
	background-image: url("../images/logo_cafeina_cinza.svg");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 300px;
	padding-top: 100px;
}

.container_foguete{
	background-image: url(../imagens-v-1.0/foguete-nasa.png);
	background-position: center;
	width: 100%;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

}